<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/bloglist.css" as="style" onload="this.rel='stylesheet'">
    {{> _html_header}}
</head>
<body class="mixteen">
{{> _page_header}}
<main>
    <div class="mn_sky" id="blog">
        <mixteen-block>
            <div class="dm-blog--container">
                <div class="dm-blog--container-left">
                    <div class="dm-blog--container-article">
                    {{#firstArticle}}
                        <article class="dm-blog--article-head" onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <h1><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></h1>
                            <div class="dm-blog--imgteaser"><img class="dm-img--lazyload" data-src="{{{imgteaser}}}"/></div>
                            <p class="dm-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/firstArticle}}
                    {{#secondArticles}}
                        <article class="dm-blog--article" onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <h2><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></h2>
                            <div class="dm-blog--imgteaser"><img class="dm-img--lazyload" data-src="{{{imgteaser}}}"/></div>
                            <p class="dm-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/secondArticles}}
                    </div>
                    <div class="dm-blog--container-article" id="mn_extension">
                    </div>
                    <p>&nbsp;</p>
                </div>

            </div>

            <div class="center is-small-screen">
                <a href="blog_archive.html" style="color: #424242;">Voir tous les articles</a>
            </div>
            <div class="dm-blog--button">
                <button onclick="blog.findMoreBlogpost()" id="more-article">Plus d'articles...</button>
                <button onclick="document.location.href='rss/blog.xml'">Flux RSS</button>

                <p>&nbsp;</p>
                <p>Partagez cette page</p>
                <button onclick="blog.sendSocial('twitter')"><img src="img/contact/twitter.svg" alt="Twitter" class="mn_social"></button>
                <button onclick="blog.sendSocial('google+')"><img src="img/contact/googlep.svg" alt="Github" class="mn_social"></button>
                <button onclick="blog.sendSocial('facebook')"><img src="img/contact/facebook.svg" alt="Facebook" class="mn_social"></button>
                <button onclick="blog.sendSocial('linkedin')"><img src="img/contact/linkedin.svg" alt="Linkedin" class="mn_social"></button>
            </div>
        </mixteen-block>
    </div>
    {{> _page_footer}}
</main>
{{> _html_footer}}
<script src="js/bloglist.js"></script>
<script>
    window.addEventListener("load", function () {
        blog.init([
            {{#otherArticles}}
                {
                    date: "{{date}}",
                    dir: "{{dir}}",
                    filename: "{{filename}}",
                    doctitle: "{{doctitle}}",
                    imgteaser: "{{{imgteaser}}}",
                    teaser: "{{teaser}}"
                },
            {{/otherArticles}}
        ]);
    });
</script>
</body>
</html>
