<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">

    {{#if events}}
        <link rel="preload" href="css/events.css" as="style" onload="this.rel='stylesheet'">

        <link rel="preload" href="https://www.gstatic.com/firebasejs/4.0.0/firebase-app.js" as="script">
        <link rel="preload" href="https://www.gstatic.com/firebasejs/4.0.0/firebase-database.js" as="script">
    {{/if}}
    <link rel="preload" href="js/main.js" as="script">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">

    <link rel="canonical" href="https://mixteen.org/{{ canonicalUrl }}">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mixteen.org/">
    <meta property="og:description" content="{{ description }}">

    <link rel="icon" href="favicon.ico" type="image/x-icon">


    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="MixTeen">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="MixTeen">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon.png">
    <meta name="msapplication-TileColor" content="#2196f3">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2196f3">

    <style>
        body {
            min-height: 100vh;
            max-height: 100vh;
            font-family: "Lato, Helvetica", "Arial", "sans-serif";
            padding: 0;
            margin: 0; }

        header {
            min-height: 64px;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
            background-color: #2c233d;
            display: -webkit-flex;
            display: flex;
            box-sizing: border-box;
            z-index: 99;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: max-height, box-shadow; }

        main {
            height: calc(100vh - 64px);
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: white; }
        img {
            max-width: 100%;
            height: auto;
        }
        * {
            box-sizing: border-box; /* pour maîtriser width et flex-basis */
        }
        mixteen-block {
            display: block;
            margin: 0 auto;
            max-width: 1600px;
            padding: 2em 1em; }

        @media (max-width: 700px) {
            mixteen-block {
                padding: 0 0; } }
        @media (min-width: 701px) and (max-width: 900px) {
            mixteen-block {
                padding: 1em 1em; } }

        .dm-social {
            min-width: 2em;
            max-width: 2em;
            width: 2em;
            height: 2em;
        }
        nav {
            display: -webkit-flex;
            display: flex; }
        @media screen and (min-width: 901px) {
            nav {
                padding-left: 1em; } }
        nav a {
            padding: 0 12px;
            color: rgba(255, 255, 255, 0.6);
            line-height: 64px;
            height: 60px;
            border-bottom: 4px solid #2c233d;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 13px; }
        @media screen and (min-width: 901px) {
            nav a {
                padding: 0 24px; } }
        nav a:hover {
            background-color: #424242; }
        nav .is-active {
            border-bottom: 4px solid white;
            color: white; }
        nav a > img {
            padding-top: 16px; }
    </style>
</head>
<body class="mixteen">

<header>
    <nav>
        <a href="index.html" class="mdl-layout__tab"
           id="#home" onclick="app.changeMenu('#home')"><img src="img/ic_home_white_24px.svg" rel="start" alt="Accueil"></a>
        <a href="events.html" class="mdl-layout__tab"
           id="#events" onclick="app.changeMenu('#events')">Events</a>
    </nav>
</header>
<main>
    {{{ contents }}}
    <footer>
        <div class="dm_footer">
            <div class="dm_footer__left">
                <p>
                    All right reserved - @2017 MixTeen
                </p>
            </div>
            <div class="dm_footer__middle is-large-screen">
                <p><img src="../../img/mxt-icon--heart.svg" alt="MixTeen" title="Heart"></p>
            </div>
            <div class="dm_footer__right">
                <p>
                    <a href="https://twitter.com/mixteen" target="_blank" rel="noopener"><img src="img/contact/twitter.svg" alt="Twitter" class="dm-social"></a>
                    <a href="https://github.com/MixTeen" target="_blank" rel="noopener"><img src="img/contact/github.svg" alt="Github" class="dm-social"></a>
                </p>
            </div>
        </div>
    </footer>
</main>

<script async defer src="https://cdn.polyfill.io/v2/polyfill.min.js" crossorigin="anonymous"></script>
<script async defer src="js/loadCSS.js"></script>
<script async defer src="js/cssrelpreload.js"></script>
<script async defer src="js/main.js"></script>
{{#if events}}
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-database.js"></script>
    <script src="js/events.js">dev={{modedev}}</script>
    <script>
        window.addEventListener("load", function(){
            events.findLastEvents();
        });
    </script>
{{/if}}
<script async defer src="js/dmanalytics.js"></script>
</body>
</html>
